html
    head
        title  Usuarios
    body
        form(action="/users" method="POST")
            input(type="email" name="email" placeholder="Correo electrónico")
            br
            input(type="password" name="password" placeholder="Contraseña")
            br
            input(type="submit" value="Crear cuenta")