html
    head
        title  Login
    body
        form(action="/sessions" method="POST")
            input(type="email" name="email" placeholder="Correo electrónico")
            br
            input(type="password" name="password" placeholder="Contraseña")
            br
            input(type="submit" value="Acceder")